# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
private_env.py
*.egg-info/
.installed.cfg
*.egg

# Serverless directories
.serverless
notes.txt
__pycache__
node_modules
*.pyc